<mat-toolbar color="primary">
  <ng-container *ngIf="!isAdmin; else viewAdmin">
    <span><a routerLink="/">My App</a></span>
    <span class="spacer"></span>
    <div>
      <a mat-button routerLink="/login" *ngIf="!isLogged; else viewLogout"
        >Login</a
      >
      <a mat-button routerLink="/admin">Admin</a>
    </div>
  </ng-container>
</mat-toolbar>

<ng-template #viewLogout>
  <a mat-button (click)="logout()">Logout</a>
</ng-template>

<ng-template #viewAdmin>
  <button mat-icon-button (click)="handleToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
</ng-template>
